

<section class="sideNavbar">
    <div class="app">
        <header>
            <div class="nav-trigger hidden-M">
                <i class="fa fa-bars"></i>
            </div>
        </header>
        <div class="body">
            <nav class="side-nav">
                <div class="event">
                    ELYSIAN GAMES <i class="fa fa-angle-down"></i>
                </div>
                <ul>
                    <li class="label">Main</li>
                    <li class="active"><i class="fa fa-dashboard"></i><a href="/profile">Dashboard</a></li>
                    <li><i class="fa fa-trophy"></i><a href="/egiftcard">E-gift Card</a></li>
                    <li><i class="fa fa-user"></i><a href="/appointment">Appointment</a></li>
                    <li><i class="fa fa-credit-card"></i><a href="/review&favourites">Review & Favourites</a></li>
                    <li><i class="fa fa-trophy"></i><a href="/payment">Payments</a></li>
                    <li><i class="fa fa-user"></i><a href="https://www.facebook.com/">Like Us on Facebook</a></li>
                    <li><i class="fa fa-credit-card"></i><a href="/terms&services">Terms of Service</a></li>
                    <li><i class="fa fa-user"></i><a href="/privacy">Privacy</a></li>
                    <li><i class="fa fa-credit-card"></i><a href="/logout">Logout</a></li>
                </ul>
            </nav>