
 <!-- Header Start-->
 <%- include('./include/header.ejs') %>
  <!-- Header End-->



  <style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");

    * {
      box-sizing: border-box;
      font-family: "Nunito Sans", sans-serif;
    }

    .container .form-left div i,
    .container,
    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    body {
      margin: 0;
      background-color: #F8F4FC;
      min-height: 100vh;
      overflow-x: hidden;
    }

    .container {
      background-color: #fff;
      max-width: 900px;
      border-radius: 5px;
      padding: 1.6rem;
      /* max-height: 600px; */
      box-shadow: 0 2px 20px #d4cae2;
    }

    .container .form-left {
      background-image: linear-gradient(#b897e5, #6c58c7);
      color: #fff;
      padding: 2rem;
      max-width: 375px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    .container .form-left div {
      margin-bottom: 2.5rem;
    }

    .container .form-left div i {
      background-color: #C2A5EB;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-bottom: -0.1rem;
    }

    .container .form-left div h4 {
      margin-bottom: -0.6rem;
      font-size: 1.2rem;
      font-weight: 700;
    }

    .container .form-left div h5 {
      width: 50%;
      font-weight: 600;
    }

    .container .form-right {
      max-width: 525px;
      text-align: left;
      padding: 3rem 4rem 3rem 3rem;
    }

    .container .form-right h2 {
      font-size: 1.8rem;
      font-weight: 600;
      opacity: 0.9;
    }

    .container .form-right .form .form-control {
      margin-bottom: 1.4rem;
      position: relative;
    }

    .container .form-right .form .form-control label {
      display: block;
      margin-bottom: 0.25rem;
      font-weight: 700;
      opacity: 0.9;
    }

    .container .form-right .form .form-control input {
      width: 100%;
      padding: 0.7rem 1rem;
      border: 2px solid #e8e7ec;
      outline: none;
      border-radius: 25px;
      display: block;
      margin-bottom: 0.5rem;
    }

    .container .form-right .form .form-control small {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 0.9rem;
      display: none;
      font-weight: 600;
    }

    .container .form-right .form .form-control.error input {
      border-color: #f00;
    }

    .container .form-right .form .form-control.error small {
      display: block;
      color: #f00;
    }

    .container .form-right .form .form-control.success input {
      border-color: #05c005;
    }

    .container .form-right .checkbox-control input {
      outline: none;
    }

    .container .form-right .checkbox-control label {
      font-size: 0.9rem;
      opacity: 0.9;
      font-weight: 600;
    }

    .container .form-right .submitBtn {
      border: none;
      outline: none;
      width: 100%;
      margin-top: 1.5rem;
      background-color: #735FCD;
      color: #fff;
      font-weight: 700;
      padding: 0.75rem 0;
      border-radius: 5px;
      transition: 0.3s ease all;
      cursor: pointer;
    }

    .container .form-right .submitBtn:hover {
      background-color: #5844ad;
    }

    @media (max-width: 800px) {
      .container .form-left {
        max-width: 275px;
      }

      .container .form-left div h5 {
        width: 100%;
      }

      .container .form-right {
        max-width: 400px;
        padding: 3rem 0rem 3rem 3rem;
      }

      .container .form-right h2 {
        text-align: center;
      }
    }

    @media (max-width: 675px) {
      .container .form-left {
        display: none;
        max-width: 275px;
      }

      .container .form-left div h5 {
        width: 100%;
      }

      .container .form-right {
        max-width: 400px;
        padding: 3rem 0;
      }
    }

    @media (max-width: 400px) {
      .container .form-right {
        max-width: 250px;
        padding: 2rem 0 3rem;
      }
    }
    
    .box {
      position: relative;
      background: #ffffff;
      width: 100%;
    }

    .box-header {
      color: #444;
      display: block;
      padding: 10px;
      position: relative;
      border-bottom: 1px solid #f4f4f4;
      margin-bottom: 10px;
    }

    .box-tools {
      position: absolute;
      right: 10px;
      top: 5px;
    }

    .dropzone-wrapper {
      border: 2px dashed whitesmoke;
      color: #92b0b3;
      position: relative;
      height: 50px;
      background-color: whitesmoke;
    }

    .dropzone-desc {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 16px;
    }

    .dropzone-desc i,
    .dropzone-desc p {
      color: #222;
    }

    .dropzone,
    .dropzone:focus {
      position: absolute;
      outline: none !important;
      width: 100%;
      height: 50px;
      cursor: pointer;
      opacity: 0;
    }

    .dropzone-wrapper:hover,
    .dropzone-wrapper.dragover {
      background: #ecf0f5;
    }

    .preview-zone {
      text-align: center;
    }

    .preview-zone .box {
      box-shadow: none;
      border-radius: 0;
      margin-bottom: 0;
    }
    .container .form-right input{
border-radius: 25px;
    }
  </style>


</head>

<body>

    <div class="row1">
     
    </div>
  
  <div class="container">
    
    <div class="form-left">
     
      <div>
        <i class="fas fa-check"></i>
        <h4>Quick and free sign-up</h4>
        <h5>Enter your email address to create an account</h5>
      </div>
      <div>
        <i class="fas fa-check"></i>
        <h4>Quick and free sign-up</h4>
        <h5>Enter your email address to create an account</h5>
      </div>
      <div>
        <i class="fas fa-check"></i>
        <h4>Quick and free sign-up</h4>
        <h5>Enter your email address to create an account</h5>
      </div>
      <div>
        <i class="fas fa-check"></i>
        <h4>Quick and free sign-up</h4>
        <h5>Enter your email address to create an account</h5>
      </div>
      <div>
        <i class="fas fa-check"></i>
        <h4>Quick and free sign-up</h4>
        <h5>Enter your email address to create an account</h5>
      </div>
      <div>
        <i class="fas fa-check"></i>
        <h4>Quick and free sign-up</h4>
        <h5>Enter your email address to create an account</h5>
      </div>
      <div>
        <i class="fas fa-check"></i>
        <h4>Cross-platform solution</h4>
        <h5>Preview your newsletters on any device before sending them out</h5>
      </div>
      <div>
        <i class="fas fa-check"></i>
        <h4>Start sending emails</h4>
        <h5>Use our API or pick our pre-built templates</h5>
      </div>
    </div>
    <div class="form-right">
      
      <h2>Create your account</h2>
      <form id="form" class="form" action="/shop/createaccount" method="POST" enctype="multipart/form-data">

        <div class="form-control">
          <label for="fullname">User Name</label>
          <input type="text" name="ownername" placeholder="Enter your full name" autocomplete="off">
          <small>Error message</small>
        </div>

        <div class="form-control">
          <label for="password">User Password</label>
          <input type="password" name="pass" id="password" placeholder="Type to create a password">
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="password">User confirm Password</label>
          <input type="password" name="conPass" id="password" placeholder="Confirm your password">
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="fullname">Shop Category</label>
          <input type="text" name="category" placeholder="Enter your Shop Category" autocomplete="off">
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="fullname">Shop Name</label>
          <input type="text" name="shopname" placeholder="Enter your Shop name" autocomplete="off">
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="email">Shop Email</label>
          <input type="text" name="shopemail" placeholder="Enter your email address" autocomplete="off" autofocus>
          <small>Error message</small>
        </div>
        <div class="form-control">
          <label for="email">Shop Number</label>
          <input type="text" name="phone" placeholder="Enter your Phone Number" autocomplete="off" autofocus>
          <small>Error message</small>
        </div>
  
        <div class="form-control">
          <label for="">Location</label>
              <input class="form-control" name="address" type="text" id="us2-address" required />
              <div class="col-md-6">
                <input class="form-control" name="lati" type="hidden" id="us2-lat" hidden />
              </div>
              <div class="col-md-6">
                <input class="form-control" name="long" type="hidden" id="us2-lon" hidden />
              </div>
              <div class="col-md-12">
                <div id="maparea" style="height: 300px;"></div>
                <div class=""></div>
              </div>
        </div>
        <div class="form-control">
          <label class="control-label">Upload File</label>
                <div class="preview-zone hidden">
                  <div class="box box-solid">
                    <div class="box-header with-border">
                      <div><b>Preview</b></div>
                      <div class="box-tools pull-right">
                        <button type="button" class="btn btn-danger btn-xs remove-preview">
                          <i class="fa fa-times"></i> Remove Image
                        </button>
                      </div>
                    </div>
                    <div class="box-body"></div>
                  </div>
                </div>
                <div class="dropzone-wrapper">
                  <div class="dropzone-desc">
                    <i class="glyphicon glyphicon-download-alt"></i>
                    <p>Choose an image file or drag it here.</p>
                  </div>
                  <input type="file" name="img" class="dropzone" required>
                </div>
        </div>
        
        <div class="checkbox-control">
          <input type="checkbox" id="checkbox">
          <label for="update">Get updates and notifications about our product</label>
        </div>
        <button class="btn submitBtn" type="submit">Submit</button>
      </form>
    </div>
  </div>

</body>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUJfIu3uSSh5QOT5nRZ0gEbeGONrY3pgQ&libraries=places&callback=initAutocomplete"></script>
<script src='https://rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.js'></script>

<script>
  $(document).ready(function () {
    $('#maparea').locationpicker({
      inputBinding: {
        latitudeInput: $('#us2-lat'),
        longitudeInput: $('#us2-lon'),
        locationNameInput: $('#us2-address')
      },
      enableAutocomplete: true,

      onchanged: function (currentLocation) {
        var placeType = ["atm", "pharmacy"];
        var sep = ',';
        var request = [],
          lat = currentLocation.latitude,
          lan = currentLocation.longitude;
        for (var i = 0; i < placeType.length; i++) {
          request = {
            location: new google.maps.LatLng(lat, lan),
            types: [placeType[i]],
            rankBy: google.maps.places.RankBy.DISTANCE
          };
          var container = document.getElementById("'" + placeType[i] + "'");
          var service = new google.maps.places.PlacesService(container);
          service.nearbySearch(request, callback);

          function callback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
              for (var j = 0; j < 3; j++) {
                var input = document.getElementById("'" + placeType[i] + "'");
                var resultset = results[j].name + sep + results[j].vicinity + '.';


              }

            }
          }
        }
      }

    });
  });
</script>

<script>
  function readFile(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        var htmlPreview =
          '<img width="200" src="' + e.target.result + '" />' +
          '<p>' + input.files[0].name + '</p>';
        var wrapperZone = $(input).parent();
        var previewZone = $(input).parent().parent().find('.preview-zone');
        var boxZone = $(input).parent().parent().find('.preview-zone').find('.box').find('.box-body');

        wrapperZone.removeClass('dragover');
        previewZone.removeClass('hidden');
        boxZone.empty();
        boxZone.append(htmlPreview);
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

  function reset(e) {
    e.wrap('<form>').closest('form').get(0).reset();
    e.unwrap();
  }

  $(".dropzone").change(function () {
    readFile(this);
  });

  $('.dropzone-wrapper').on('dragover', function (e) {
    e.preventDefault();
    e.stopPropagation();
    $(this).addClass('dragover');
  });

  $('.dropzone-wrapper').on('dragleave', function (e) {
    e.preventDefault();
    e.stopPropagation();
    $(this).removeClass('dragover');
  });

  $('.remove-preview').on('click', function () {
    var boxZone = $(this).parents('.preview-zone').find('.box-body');
    var previewZone = $(this).parents('.preview-zone');
    var dropzone = $(this).parents('.form-group').find('.dropzone');
    boxZone.empty();
    previewZone.addClass('hidden');
    reset(dropzone);
  });
</script>

</body>

</html>