<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
  <title>Admin</title>
  <!-- This Page CSS -->
  <link href="/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/dist/css/style.min.css" rel="stylesheet">
  <style>
    .serviceCard {
      background-color: rgba(60, 61, 61, 0.2);
      padding: 50px 20px;
      margin-bottom: 20px;
    }
  </style>
</head>

<body>


  <%- include('./sideBar.ejs') %>
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-0">E-gift</h3>
        <ol class="breadcrumb mb-0 p-0 bg-transparent">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item active">E-gift Add</li>
        </ol>
      </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h2 class="text-center text-success">E-gift Card Name</h2>
              <h5>To sell an e-Gift Card, a template for the e-Gift Card must be created</h5>
              <h5>When creating a new e-Gift Card Template, you must specify the Name, Description, Validity (length of
                time it will be valid), Price (the price your customer will pay), and Value (the amount the e-Gift Card
                is worth)</h5>
              <h5>Your e-Gift Card Templates are available for purchase in the Sales section.</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <% for(i=0;i<gift.length;i++) { %> 
              <a href="#"><%=gift[i].giftCardName%></a>
              <% }  %>
            </div>
          </div>
        </div>
         
        <div class="col-lg-12">
          <form action="/shop/egiftcard" method="post">
          <div class="card">
            <div class="card-body">

              <div class="form-body">
                <h5 class="card-title">Add E-gift Card</h5>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">E-gift Card Name</label>
                      <input type="text" name="name" class="form-control" placeholder="Enter your E-gift Card Name" required> </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Description</label>
                      <input type="text" name="description" class="form-control" placeholder="Enter your Description"> </div>
                  </div>
                  <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="card">
                        <label class="control-label">Validity Date</label>
                        <select class="form-control" name="validity" id="" required>
                          <option value="30" >30 days</option>
                          <option value="90">90 Days</option>
                          <option value="180">6 months</option>
                          <option value="365">1 year</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label">Price</label>
                      <input type="text" name="price" class="form-control" placeholder="Enter your Price" required>
                    </div>
                  </div>
                  <!--/span-->
                </div>


                <!--/row-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="card">
                        <label class="control-label">Select Service</label>
                        <select class="form-control" name="service" id="" required>
                          <% for(i=0;i<service.length ;i++){  %> 
                            <option><%=service[i].name%></option>
                            <% } %>
                          
                         
                        </select>
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="card">
                        <label class="control-label">TAX Rate</label>
                        <select class="form-control" name="tax" id="" required>
                          <option value="0" >0% (free)</option>
                          <option value="5.0" > 5.00%</option>
                          <option value="10.0">10.00%</option>
                          <option value="12.0">12.00%</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!--/span-->
                </div>

               


                <hr>
              </div>
              <div class="form-actions mt-5">
                <!-- <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button> -->
                <input type="submit"  class="btn btn-success" value="save">
                <button type="button" class="btn btn-dark">Cancel</button>
              </div>

            </div>
          </div>
        </form>
        </div>
     
        <!-- Column -->
      </div>
    
      <!-- ============================================================== -->
      <!-- End PAge Content -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->

  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
  <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- apps -->
  <script src="/dist/js/app.min.js"></script>
  <script src="/dist/js/app.init.dark.js"></script>
  <script src="/dist/js/app-style-switcher.js"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
  <!--Wave Effects -->
  <script src="/dist/js/waves.js"></script>
  <!--Menu sidebar -->
  <script src="/dist/js/sidebarmenu.js"></script>
  <!--Custom JavaScript -->
  <script src="/dist/js/custom.min.js"></script>
  <!-- This Page JS -->
  <script src="/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
  <script src="/assets/libs/magnific-popup/meg.init.js"></script>
  <script src="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

  <script>

    

    $(document).ready(function () {
      // Open modal on page load
      // $("#membershipModal").modal('show');

      // Close modal on button click
      $(".membershipModalBtn").click(function () {
        $("#membershipModal").modal('hide');
      });


    });
  </script>

</body>

</html>