
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper" role="main">

    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>

                <a class="navbar-brand" href="index.html">
                    <!-- Logo icon -->
                    <b class="logo-icon">

                        <img src="../assets/images/logo.PNG" alt="homepage" class="dark-logo" />
                        <!-- Light Logo icon -->
                        <img src="../assets/images/logo.PNG" alt="homepage" class="light-logo" width="40" height="40" />
                    </b>

                    <span class="logo-text">
                        <h1>Admin</h1>
                    </span>
                </a>

                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                    data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto float-left">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-md-block waves-effect waves-dark"
                            href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                </ul>

                <ul class="navbar-nav float-right">

                 <li>Salon De Style</li>
            
                </ul>
            </div>
        </nav>
    </header>

    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- User profile -->
            <div class="user-profile position-relative"
                style="background: url(../assets/images/background/user-info.jpg) no-repeat;">
                <!-- User profile image -->
                <div class="text-center" style="height: 100px;"> 
                    <h3 style="padding-top: 40px;">Salon De Style</h3>
                </div>
                <!-- User profile text-->
            </div>

            <nav class="sidebar-nav">
                <ul id="sidebarnav">

                    <li class="nav-small-cap"><i class="mdi mdi-dots-horizontal"></i>

                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/shop/invoicedetail" aria-expanded="false"><i class="mdi mdi-calendar"></i><span
                                class="hide-menu">Work Schedule</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/shop/addservices" aria-expanded="false"><i class="mdi mdi-calendar"></i><span
                                class="hide-menu">Add Services</span></a></li>

                    <li class="sidebar-item"><a href="/shop/saleshistory" class="sidebar-link"><i
                                class="mdi mdi-email"></i><span class="hide-menu">Sales History</span></a></li>


                    <li class="sidebar-item"><a href="/shop/clientdetail" class="sidebar-link"><i
                                class="mdi mdi-vector-triangle"></i><span class="hide-menu">Client Add
                            </span></a></li>

                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/shop/clientlist" aria-expanded="false"><i class="mdi mdi-directions"></i><span
                                class="hide-menu">Client List</span></a></li>


                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                            href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-cart-outline"></i><span
                                class="hide-menu">Business Profile</span></a>
                        <ul aria-expanded="false" class="collapse first-level">
                            <li class="sidebar-item"><a href="/shop/companyInfo" class="sidebar-link"><i
                                        class="mdi mdi-cart"></i> <span class="hide-menu">Company Info</span></a>
                            </li>
                            <li class="sidebar-item"><a href="/shop/categorieslist" class="sidebar-link"><i
                                        class="mdi mdi-cart-plus"></i> <span class="hide-menu">Categories
                                        List</span></a></li>
                            <li class="sidebar-item"><a href="/shop/health&safety" class="sidebar-link"><i
                                        class="mdi mdi-camera-burst"></i> <span class="hide-menu">Health & Safety
                                        Policy</span></a></li>
                            <li class="sidebar-item"><a href="/shop/openinghours" class="sidebar-link"><i
                                        class="mdi mdi-chart-pie"></i> <span class="hide-menu">Opening Time</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/shop/portfolio" aria-expanded="false"><i class="mdi mdi-clipboard-text"></i><span
                                class="hide-menu">Portfolio</span></a></li>

                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                            href="javascript:void(0)" aria-expanded="false"><i
                                class="mdi mdi-inbox-arrow-down"></i><span class="hide-menu">Staff Info</span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/shop/staffmember" class="sidebar-link"><i
                                        class="mdi mdi-email"></i><span class="hide-menu">Staff History</span></a></li>

                        </ul>
                    </li>

                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                            href="javascript:void(0)" aria-expanded="false"><i
                                class="mdi mdi-inbox-arrow-down"></i><span class="hide-menu">Package</span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/shop/package" aria-expanded="false"><i class="mdi mdi-book"></i><span
                                        class="hide-menu">Package Add</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/shop/packagedetail" aria-expanded="false"><i class="mdi mdi-book"></i><span
                                        class="hide-menu">Package History</span></a></li>
                            <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                    href="/shop/packageOrders" aria-expanded="false"><i class="mdi mdi-book"></i><span
                                        class="hide-menu">Package Orders</span></a></li>
                        </ul>
                    </li>


                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/shop/reviewandrating" aria-expanded="false"><i class="mdi mdi-directions"></i><span
                                class="hide-menu">Review and Rating</span></a></li>

                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                            href="/shop/reports" aria-expanded="false"><i class="mdi mdi-directions"></i><span
                                class="hide-menu">Reports</span></a></li>
                   
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>

        <div class="sidebar-footer text-center">

            <a href="" class="link" data-toggle="tooltip" title="Settings"></a>
            <a href="/shop/logout" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
            <a href="" class="link" data-toggle="tooltip" title="Email"></a>
           
        </div>
    </aside>
