
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-power-off:before {
  content: "\f011";
}

.fa-lock:before {
  content: "\f023";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-arrows:before {
  content: "\f047";
}

.fa-plus:before {
  content: "\f067";
}

.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-star-half:before {
  content: "\f089";
}



.fa-phone:before {
  content: "\f095";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-medkit:before {
  content: "\f0fa";
}

.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-circle:before {
  content: "\f111";
}

.fa-github-alt:before {
  content: "\f113";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-instagram:before {
  content: "\f16d";
}

.fa-skype:before {
  content: "\f17e";
}

.fa-plus-square-o:before {
  content: "\f196";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}

.fa-plug:before {
  content: "\f1e6";
}

.fa-twitch:before {
  content: "\f1e8";
}


.fa-facebook-official:before {
  content: "\f230";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}

.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-gift:before {
  content: "\f06b";
}

.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3";
}
.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}


@font-face {
    font-family: 'simple-line-icons';
    src:    url('../fonts/simple-line-icons.eot?thkwh4');
    src:    url('../fonts/simple-line-icons.eot?thkwh4#iefix') format('embedded-opentype'),
        url('../fonts/simple-line-icons.ttf?thkwh4') format('truetype'),
        url('../fonts/simple-line-icons.woff?thkwh4') format('woff'),
        url('../fonts/simple-line-icons.svg?thkwh4#simple-line-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.sl {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'simple-line-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sl-icon-envelope-open:before {
    content: "\e01e";
}
.sl-icon-envolope-letter:before {
    content: "\e01f";
}

.sl-icon-map:before {
    content: "\e033";
}
.sl-icon-check:before {
  content: "\e080";
}
.sl-icon-close:before {
  content: "\e082";
}
.sl-icon-calender:before {
    content: "\e075";
}

.sl-icon-envolope:before {
    content: "\e086";
}

.sl-icon-lock:before {
    content: "\e08e";
}
.sl-icon-lock-open:before {
    content: "\e08f";
}

.sl-icon-plus:before {
    content: "\e095";
}
.sl-icon-power:before {
    content: "\e097";
}
.sl-icon-settings:before {
    content: "\e09a";
}

.sl-icon-phone:before {
    content: "\e600";
}
.sl-icon-Menu:before {
    content: "\e601";
}
.sl-icon-clock:before {
  content: "\e081";
}
.sl-icon-login:before {
  content: "\e066";
}
@font-face {
  font-family: 'iconsmind';
  src:url('../fonts/iconsmind.eot?-rdmvgc');
  src:url('../fonts/iconsmind.eot?#iefix-rdmvgc') format('embedded-opentype'),
    url('../fonts/iconsmind.woff?-rdmvgc') format('woff'),
    url('../fonts/iconsmind.ttf?-rdmvgc') format('truetype'),
    url('../fonts/iconsmind.svg?-rdmvgc#iconsmind') format('svg');
  font-weight: normal;
  font-style: normal;
}

.im {
  font-family: 'iconsmind'  !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.im-icon-Male:before {
  content: "\ea92";
}
.im-icon-Lock-2:before {
  content: "\ea58";
}
.im-icon-Mail:before {
  content: "\ea8d";
}