*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-top: 15%;
    background: lightblue url("/images/shop/bg_createAccount.jpg") no-repeat center;
    font-family: 'David Libre', serif;
    background-repeat: no-repeat;
    /* background-size: cover; */
    
}
.heading-section{
    background-image: url("https://booksy.com/biz/static/images/background-bricks.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

}
.right-side-pic img{
padding: 90px 10px 10px 10px;
width: 80%;
height: 600px;
}
.left-side-element{
    padding: 150px 10px 10px 10px;
}
.trialBtn{
    padding: 10px 40px;
    background-color: #292929;
    color: white;
    font-weight: bold;
}
.tutorialBtn{
    padding: 10px 40px;
    background-color: #292929;
    color: white;
    font-weight: bold;
}

/* sign up */
.sign-up{
    margin-left: 50%;
    transform: translate(-50%,0);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
}
.sign-up1{
    margin-left: 50%;
    transform: translate(-50%,0);
    background-color: rgba(0,0,0,0.5);
    color: white;
    
}
.sign-up input{
    margin-top: 10px;
    margin-bottom: 10px;
}
.sign-up .loginbtn{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.owner-info{
    display: inline;
}
.owner-icon{
    float: left;
}
.owner-icon i{
   font-size: 50px;
   padding: 10px;
}
.owner-name{
    float: left;
}
.owner-edit{
    float: right;
}
.owner-edit input{
    padding: 10px;
}

.staffInfo .continueBtn{
    margin-top:10px;
    margin-bottom: 20px;
width: 100%;
}

.staffInfo .addStaff{
text-decoration: none;
color: #26cab4;
}
.add-staff-modal input{
    margin: 10px;
}

/* Location save */
.business-number{
    margin: 20px;
    padding: 20px;
    border: 3px solid #292929;
    border-radius: 5px;
    box-shadow: 4px 5px 6px 1px #868891;
}
.business-number a{
    text-decoration: none;
    color: #292929;
}
/* .business-number input{
    background-color: rgba(2,2,2,0.5);
}
.business-number input::after{
    background-color: rgba(2,2,2,0.5);
} */
.location-save{
    margin: 20px;
    padding: 20px;
    border: 3px solid #292929;
    border-radius: 5px;
    box-shadow: 4px 5px 6px 1px #868891;
}
.location-save a{
    text-decoration: none;
    color: #292929;
}
.categories-save{
    margin: 20px;
    padding: 20px;
    border: 3px solid #292929;
    border-radius: 5px;
    box-shadow: 4px 5px 6px 1px #868891;
}
.categories-save a{
    text-decoration: none;
    color: #292929;
}

.time-select{
    margin: 20px;
    padding: 20px;
    border: 3px solid #292929;
    border-radius: 5px;
    box-shadow: 4px 5px 6px 1px #868891;
}
.time-select a{
    text-decoration: none;
    color: #292929;
}
.categories-box{
    height: 200px;
    overflow-y: scroll;
}
/* map location set */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.continueSubmitBtn input{
    text-align: center;
    width: 100%;
}
.continueSubmitBtn a{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.imgDiv a{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* image upload for shop  */


.box {
    position: relative;
    background: #ffffff;
    width: 100%;
}

.box-header {
    color: #444;
    display: block;
    /* padding: 10px; */
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
    /* background-color: rgba(0,0,0,0.5); */
}

.box-tools {
    position: absolute;
    right: 10px;
    top: 35px;
}

.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
    background-color: #ecf0f5;
}

.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}

.preview-zone {
    text-align: center;
}

.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

/* service and price */

.loginInfo{
    display: block;
    margin-top: 100px;
  
}
.staffInfo{
    display: none;
    margin-top: 100px;
}
.shop-info{
    display: none;
    margin-top: 50px;
}
.shop-image-upload{
    display: none;
    margin-top: 110px;
}
.service-price{
    display: none;
    margin-top: 180px;
}
.addService{
    background-color: #292929;
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
}
.addService a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
}
.addCategory{
    background-color: #292929;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
}
.addCategory a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
}
.service-price .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2rem;
}
#finishDiv{
    display: none;
    width: 570px;
    background-color: #fff;
    margin-left: 50%;
    transform: translate(-50%,0);
    padding: 20px;
}
#finishDiv #finishButton{
    text-align: center;
    padding: 5px;
    width: 100%;
}
