
<div id="footer" class="sticky-footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				 <img class="footer-logo" src="/images/user/images/logo.png" alt="logo" height="80px" width="80px"> 
				<span class="text-danger" style="font-size: 28px; padding-left: 10px;">Salon de Style</span>
		<p style="margin-top: 10px;">Salon de Style for Customers is a FREE booking system for people looking to schedule appointments for health & beauty services. Customers can visit marketplace www.salondestyle.com to find local services. Whether it’s finding new health & beauty services or booking with your favorite one, scheduling appointments just got easier!</p>
	</div>

			<div class="col-md-4 col-sm-6">
				<h4>Helpful Links</h4>
				<ul class="footer-links">
					<li><a href=".././appointment.ejs">Appointment</a></li>
					<li><a href=".././payment.ejs">Payment</a></li>
					<li><a href=".././privacy">Privacy Policy</a></li>
					<li><a href=".././termsServices.ejs">Terms of service</a></li>
				</ul>
				<div class="clearfix"></div>
			</div>		

			<div class="col-md-4  col-sm-12">
				<h4>Contact Us</h4>
				<div class="text-widget">
					<span>Dhaka,Bangladesh</span> <br>
					Phone: <span>(+880) 123456789 </span><br>
					E-Mail:<span> <a href="#">salondestyle@example.com</a> </span><br>
				</div>

				<ul class="social-icons margin-top-20">
					<li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
					<li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
					<li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
					<li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
				</ul>

			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2020 <a href="/">Salon de Style</a>. All Rights Reserved.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>